<hr>
<footer id="footer">
  <p class="pull-right"><a href="#top"><%=t :back_to_top %></a></p>
  <div class="links">
  	<a href="/"><%=t :home %></a> | 
  	<a href="#about"><%=t :about %></a> | 
    <a href="#contact"><%=t :contact %></a>
  </div>
</footer>